* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.point:hover .label
{
    transform: scale(1.25);
}


.point .text
{
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point:hover .text
{
    opacity: 1;
}



.container {
width: 100%;
height: 100vh;
display: grid;
grid-template-areas:
    "header header header header header"
    "content content content content content"
    "content content content content content"
    "content content content content content"
    "footer footer footer footer footer";
grid-template-columns: auto auto auto auto auto;
grid-template-rows: 125px auto;
}

.header {
background-color: #252525;
width: 100%;
grid-area: header;
height: 125px;
position: fixed;
z-index: 1;
box-shadow: 2px 2px 10px black;
padding: 15px 0px;
}

.header-container {
width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.header-container-logo-img {
width: 100px;
height: 100%;
}

.header-subcontainer-logo-img {
width: 100%;
height: 100%;
}

.header-subcontainer-logo-img > a > img {
height: 100%;
}

.header-container-links {
display: flex;
flex-wrap: wrap;
}

.header-container-link-shop {
display: flex;
column-gap: 50px;
}

.header-container-link {
color: white;
text-decoration: none;
padding: 13px;
border-radius: 10px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
transition: 0.8s;
text-shadow: 2px 2px 10px black;
display: flex;
column-gap: 8px;
align-items: center;
}

.header-container-link:hover {
color: black;
}

.header-container-searchBar-subcontainer {
display: flex;
flex-direction: row;
column-gap: 20px;
height: max-content;
}

.header-container-searchBar-subcontainer-textInput {
display: none;
width: 0%;
}

.header-container-searchBar-subcontainer-icon {
display: flex;
align-items: center;
cursor: pointer;
transition: 0.5s;
}

.header-container-searchBar-subcontainer-icon:hover {
transform: scale(1.15);
}

.searchBar-textInput {
background-color: #343436;
border-width: 0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: 2px solid #070707;
padding: 10px;
color: white;
transition: 0.5s;
width: 0%;
}

.searchBar-textInput:focus {
outline: none;
background-color: #66666b;
border-bottom: none;
}



.main-container {
grid-area: content;
height: auto;
}

.main-body-container {
width: auto;
height: 100%;
}

.main-body-section {
width: auto;
height: 100vh;
box-shadow: 2px 2px 10px black;
}

#main-body-sections:first-child {
background-color: #5D5E62;
}

#main-body-sections {
background-color: rgb(37, 37, 37);
}

.main-body-first-section {
display: flex;
flex-wrap: wrap;
background-image: url("./GIFs/shoe ad.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
}

.main-body-first-section-text-subcontent {
background-color: rgba(0, 0, 0, 0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
flex-direction: column;
}

.main-body-first-section-title-text {
color: whitesmoke; 
padding: 30px;
font-size: 80px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

#main-body-first-section-title-text span {
display: inline-block;
transform-origin: 0% 50%;
}

.bottomBorderTitleLine, .topBorderTitleLine {
position: relative; 
width: 0; 
height: 10px; 
background-color: white;
}


.main-body-second-section {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}


.wrapper {
width: 100%;
height: 100vh;
background-color: #252525;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.slide-wrapper {
    height: 100%; 
    width: 90%; 
    display: flex;
}

.slide-canvas-wrapper {
    width: 100%; 
    display: flex; 
    padding: 60px 0px; 
    column-gap: 45px;
}

.slider, .slider-iconic {
width: 100%;
height: 100vh;
position: relative;
overflow: hidden;
margin-bottom: 30px;
}

.slide-iconic {
    background-color: #1d1d1d;
}

.slide, .slide-iconic {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
color: white;
display: flex;
justify-content: center;
align-items: center;
}

.canvas-container {
    position: relative; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: flex-end;
}

.canvas-button-container {
    position: relative; 
    color: white; 
    padding: 20px;
}

.canvas-button {
    background-color: rgb(150, 150, 150); 
    border: 1px solid rgb(150, 150, 150); 
    padding: 10px 20px; 
    border-radius: 30px; 
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.canvas-button:hover {
    background-color: rgb(125, 125, 125); 
    border: 1px solid rgb(125, 125, 125); 
}

.slide-1 {
    background-color: #8D6346;
}

.slide-2 {
    background-color: #6E0000;
}

.slide-3 {
    background-color: #6A878C;
}

.slide-4 {
    background-color: #b4b2a4;
}

.canvas-model-renderer {
    width: 100%;
    height: 100%;
}

.button-container {
width: 100%;
display: flex;
justify-content: center;
margin: 30px 0px;
}

.buttons {
display: flex;
column-gap: 15px;
width: 90%;
justify-content: space-between;
align-items: center;
}

.tendency-title > h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-shadow: 10px 10px 15px black;
}

.carousel-btns {
    display: flex;
    column-gap: 10px;
}

.carousel-btn {
padding: 0.5rem;
cursor: pointer;
font-weight: 600;
border-radius: 50px;
border: none;
background-color: #979797;
transition: 0.3s;
}

.carousel-btn:hover {
background-color: #808080;
box-shadow: 1px 1px 15px black;
}

.slide-canvas-info-subcontainer {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    row-gap: 120px;
}

.slide-canvas-info-title-content > h2 {
font-size: 50px;
text-shadow: 2px 2px 15px black;
font-family: 'Courier New', Courier, monospace;
}

.slide-canvas-info-subcontent > p {
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
line-height: 30px;
text-shadow: 0px 0px 10px black;
}

.slide-canvas-second-info-subcontent {
width: 100%;
text-align: center;
display: flex;
justify-content: center;
}

.slide-canvas-info-button {
font-family: 'Courier New', Courier, monospace;
width: 50%;
padding: 15px;
border-radius: 12.5px;
background-color: #5D5E62;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
}

.slide-canvas-info-button:hover {
background-color: #4e4f52;
box-shadow: 0px 0px 10px black;
}

.go-back-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; 
    visibility: hidden; 
    width: 100%;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(235, 235, 235);
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
}

.go-back-button:hover {
    background-color: rgb(220, 220, 220);
}

.card-carousel {
display: flex;
position: relative;
flex-direction: column;
width: 100vw;
height: 100vh;
overflow: hidden;
align-items: center;
justify-content: center;
}

.cell {  
position: absolute;
top: 0;
left: 0;
width: 100%;
font-size: 26px;
font-weight: 500;
color: rgba(0,0,0,0.87);
color: rgba(0,0,0,0.92);
user-select: none;  
display: flex;
align-items: center;
justify-content: center;    
background: #eee;

height: 100%;
transform-origin: center bottom;
}

.cell-content {}

.picker {
  position: relative;
  overflow: hidden;  
  width: 80vw;
  height: 90vh;
  border-radius: 2px;
  background-color: #fff;  
  box-shadow: 
    0 2px 4px -1px rgba(0,0,0,.2), 
    0 4px 5px 0 rgba(0,0,0,.14), 
    0 1px 10px 0 rgba(0,0,0,.12);
}


.footer {
width: auto;
height: fit-content;
grid-area: footer;
background-color: yellow;
}

.footer-container {
width: 100%;
height: 100%;
}

.footer-container-info-box {
height: 100%;
background-color: #0f0f0f;
display: flex;
justify-content: space-between;
color: whitesmoke;
padding: 100px;
}

.footer-container-info-box-tab {
display: flex;
flex-direction: column;
row-gap: 40px;
}

.footer-container-info-box-tab-title-subcontainer {
display: flex;
flex-direction: column;
row-gap: 10px;
}

.footer-container-info-box-tab-title-subcontainer > h4 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
}

.footer-container-info-box-tab-title-subcontainer-hr {
border-color: rgba(255, 0, 0, 0.75);
width: 35%;
}

.footer-container-info-box-tab-links-subcontainer {
display: flex;
flex-direction: column;
row-gap: 10px;
}

.box-tab-link > a, .social-media-tab-link > a {
color: #9c9ca3;
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: 0.3s;
}

.box-tab-link > a:hover, .social-media-tab-link > a:hover {
color: #dfdfe9;
}

.footer-container-social-media-box-tab-links-subcontainer {
display: flex;
flex-direction: row;
column-gap: 10px;
}

.social-media-tab-link {
border: 2px solid black;
border-radius: 55px;
padding: 5px;
background-color: #070707;
transition: 0.3s;
}

.social-media-tab-link:hover {
background-color: #2c2c2c;
border-color: #202020;
box-shadow: 1px 1px 15px rgb(0, 0, 0);
transform: scale(1.10);
}